.footer {
    width: 100%;
    height: auto;
    background: #333456;
    text-align: center;
    padding-bottom: 10px;
}

.footer-header {
    font-weight: 100;
    font-size: 40px;
}

.footer-sheader {
    font-size: 10px;
    
}

.socials {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.social-list {
    padding: 10px;
}

.copy-right {
    color: #111;
    font-weight: 600;
}